<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.inetbanking.qa.Util.Reporting" />
	</listeners>

	<test name="Banking Test">

		<classes>
			<class name="com.inetbanking.qa.TestCases.LoginPageTest" />
			<!-- <class name="com.inetbanking.qa.TestCases.LoginPageDDT" /> -->
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
